* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
}

body {
    background-image: url( ../img/rydell_water.jpg );
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.flash-area {
    margin-top: 10vh;
}

.login-form, .register-form {
    padding: 3vmin;
    vertical-align: center;
}

/* This makes sure the dropdowns contain the full width of text - Find ref */
.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.container {
    width: 90vw;
}

.collapsible-body {
    padding: 1em;
    font-size: 0.8rem;
}

.fixed-action-btn {
    position: static;
    padding: 0;
}

.walks_done_row {
    margin-bottom: 0;
}

.card form {
    padding: 24px;
}



