{% extends "base.html" %}

{% block content %}
    <div class="row center-align">
        <div class="card col s12 m6 offset-m3 green lighten-2">
            <h3>Oops!</h3>
            <p>We dont have a walk for this hill yet!</p><br>
            <p>Bare with us while we get one uploaded!</p><br>
            <p>Thanks for your patience with us.</p><br>
            <div class="row">
                <button class="btn" onclick="window.history.back(-1);">Return to walk</button>
            </div>
        </div>
    </div>
{% endblock %}