{% extends "base.html" %}

    {% block content %}
		<section class="container">
			<div class="row">
				<h2 class="center-align">{{ area.area }}</h2>
				<div class="col s12 m4 l3">
					<ul class="collapsible popout">
						{% for group in groups %}
						{% set parentgroup = group.group %}
						<li>
							<div class="collapsible-header green lighten-1 z-depth-2">{{ group.group }}</div>
							{% for hill in hills|sort(attribute='name') %}
							{% if hill.group|string() == parentgroup|string() %}
							<div class="collapsible-body green"><span><a href="{{ url_for('area', area_name=area.area, hill_name=hill.name) }}">{{ hill.name }}</a></span></div>
							{% endif %}
							{% endfor %}
						</li>
						{% endfor %}
					</ul>
				</div>
                <div class="col l1"></div>
        
				{% if hill.name %}
					<div class="col s12 m6 l6">
						<div class="card ">
							<div class="card-image">
								<img class="responsive-img" src="{{ url_for('static', filename=hill.image_path) }}" alt="mountain">
								<span class="card-title">{{ hill.name }}</span>
                            </div>
							<div class="card-content green lighten-1">
								<p>Height: {{ hill.height }}</p>
							</div>
							<div class="card-action green darken-2 center-align">
								<a href="#">Walk for this Hill</a>
							</div>
						</div>
                        <ul class="collection green lighten-1">
                            
                            {% for comment in comments %}
                            {% if comment.hill == hill.name %}
                                <li class="collection-item">{{ comment.comment_text }} : {{ comment.author }}</li>
                            {% endif %}
                            {% endfor %}
                            
                        </ul>
                    </div>

				{% else %}
                    <h3>Please Choose your hill!</h3>
                {% endif %}
            </div>
            
        </section>
		
    {% endblock content%}


    