{% extends "base.html" %}

{% block content%}
    <h3 class="col s12 center-align">Gallery</h3>
        <div class="row">
            <div class="col s12 green lighten-3">
                <div class="row">
                    {% for image in images %}
                        <div class="col s6 m3 l3">
                            <div class="card green lighten-2">
                                <div class="card-image">
                                    <img class="materialboxed responsive-img" src="{{ url_for('file', filename=image.gallery_image_name) }}" alt="">
                                </div>
                                <div class="card-content">
                                    <span class="card-title text-bold">{{ image.gallery_image_title }}</span>
                                    <p>This is some info about the picture!</p>
                                    <span>Posted by: {{ image.username }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <form action="{{ url_for('upload_many') }}" method="POST" enctype="multipart/form-data">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" name="gallery_images[]" autocomplete="off" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="row center-align">
                                {% if session.user %}
                                <button class="btn" type="submit">Upload</button>
                                {% else %}
                                <button class="btn" type="submit" disabled>Upload</button>
                                <p>If you want to upload any images please <a href="{{ url_for('login' ) }}">log in</a></p>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}