{% extends "base.html" %}

{% block content %}
    <div class="row center-align">
        <div class="col s12 m10 offset-m1">
            <div class="card green lighten-2">
                <div class="card-content">
                    <span class="card-title">Walking in the Lakes</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum nibh tellus molestie nunc non blandit massa.</p>
                </div>
            </div>
            <div class="card green lighten-2">
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}