{% extends "base.html" %}

    {% block content %}
        <div class="row">
            <div class="col s12 m6 offset-m1">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">Hello there {{ username }}</span>
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="card green ">
                                    <div class="card-image">
                                        <img src="{{ url_for('file', filename=user.profile_image_name) }}" alt="Image of the User" class="responsive-img">
                                    </div>
                                </div>
                                <!-- Image Uploading - Translate this into a modal at some point! -->
                                <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" name="profile_image">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                        <button class="btn" type="submit">Upload</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col s12 m6">
                                <ul class="collection ">
                                     <li class="collection-item green lighten-2">Name: {{ user.first_name }} {{ user.last_name }}</li>
                                     <li class="collection-item green lighten-2">Email: {{ user.email }}</li>    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">Hills Climbed</span>
                            <ul class="collapsible">
                                {% for area, group in user.hills_walked| groupby('area_name') %}
                                    <li>
                                        <div class="collapsible-header green"><i class="fas fa-globe"></i>{{ area }}</div>
                                        {% for group, hill in group| groupby('group_name') %}
                                        <div class="collapsible-body green lighten-1">
                                            <div class="row walks_done_row">
                                                <div class="col s12">
                                                    <ul class="collapsible">
                                                        <li>
                                                            <div class="collapsible-header green lighten-1">{{ group }}</div>
                                                            {% for hill in hill|sort(attribute='hill_name') %}
                                                            <div class="collapsible-body green lighten-2"><a href="{{ url_for('walk', walk_name=hill.hill_name ) }}" class="grey-text text-darken-2"><i class="fas fa-mountain "></i> {{ hill.hill_name }}</a></div>
                                                            {% endfor %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>    
                                        {% endfor %}
                                    </li>    
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">Walks Uploaded</span>
                            <div class="collection">
                                {% for walk in walks %}
                                    {% if session.user == walk.user_created %}
                                    <a href="{{ url_for('walk', walk_name=walk.walk_name) }}" class="collection-item green white-text">{{ walk.walk_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}