{% extends "base.html" %}

    {% block content %}
        
		<div class="row">
			<form class="col s12" method="POST" action="{{ url_for('register') }}">
				<div class="register-form card green lighten-3">
					<div class="row">
						<div class="input-field col s12">
							<input id="username" name="username" type="text" class="validate" required>
							<label class="grey-text text-darken-2" for="username">Username</label>
						</div>
                    </div>
                    <div class="row">
						<div class="input-field col s12 m6">
							<input id="first_name" name="first_name" type="text" class="validate" >
							<label class="grey-text text-darken-2" for="first_name">First Name</label>
						</div>
						<div class="input-field col s12 m6">
							<input id="last_name" name="last_name" type="text" class="validate">
							<label class="grey-text text-darken-2" for="last_name">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" name="password" type="password" class="validate" required>
							<label class="grey-text text-darken-2" for="password">Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="email" name="email" type="email" class="validate" required>
							<label class="grey-text text-darken-2" for="email">Email</label>
						</div>
					</div>
					<div class="row center-align">
						<button class="btn waves-effect waves-light" type="submit">Submit<i class="fas fa-paper-plane right"></i>
				        </button>
					</div>
                    <div class="row center-align">
                        <div class="col s12 grey-text text-darken-4">Think you might have an account? Log in <a href="{{ url_for('login') }}"><strong>here!</strong></a>
                        </div>
                    </div>
				</div>
			</form>
		</div>



    {% endblock %}