{% extends "base.html" %}

{% block content %}
	<div class="row">

		<div class="col s12 m10 l8 offset-m1 offset-l2 center-align">
			<h3>{{ walk.hill_name }}</h3>
            <div class="card horizontal walk-header green lighten-2">
				<div class="card-image valign-wrapper">
					<img src="{{ url_for('static', filename=walk.header_image_path) }}" alt="Image for " {{walk.hill_name}}>
				                </div>
					<div class="card-stacked">
						<div class="card-content valign-wrapper">
							<p>{{ walk.walk_header }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col s12 m10 l8 offset-m1 offset-l2 left-align">
				<div class="card green lighten-2">
					<div class="card-content">
						<span class="card-title">The Walk</span>
						<!-- There must be an easier way to do this so it looks at all the ones there and doesnt leave spaces -->
						<p style="white-space: pre-wrap">{{ walk.walk_main_text1 }}</p><br>
						<p style="white-space: pre-wrap">{{ walk.walk_main_text2 }}</p><br>
						<p style="white-space: pre-wrap">{{ walk.walk_main_text3 }}</p><br>
						<p style="white-space: pre-wrap">{{ walk.walk_main_text4 }}</p><br>
				                </div>
					</div>
				</div>

				<div class="col s12 m10 l8 offset-m1 offset-l2 left-align">
					<div class="card green lighten-2">
						<div class="card-content">
							<span class="card-title">The Return</span>
							<p style="white-space: pre-wrap">{{ walk.walk_return }}</p>
						</div>
					</div>
				</div>

				<div class="col s12 m10 l8 offset-m1 offset-l2">
					<div class="card green lighten-2">
						<div class="card-content">
							<ul class="collection">
								{% for comment in comments %}
								{% if comment.hill == walk.hill_name %}
								<li class="collection-item avatar">
                                    <i class="fas fa-user circle"></i>
                            		<span>Posted by: {{ comment.author }} - {{ comment.posted }}</span>
									<p>{{ comment.comment_text }}</p>
                                    {% if session.user == comment.author%}
                                    <a href="{{ url_for('delete_comment', hill_name=walk.hill_name, comment_id=comment._id) }}" class="seconday-content right"><i class="fas fa-trash-alt"></i></a>
                                    {% endif %}
								</li>
								{% endif %}
								{% endfor %}
							</ul>
                        </div>
                        
						<form class="green lighten-2" method="POST" action="{{ url_for('user_comment',  hill_name=walk.hill_name) }}">
                            <div class="row">
								<div class="input-field col s12">
									<i class="fas fa-user-edit prefix"></i>
									<textarea placeholder="Write your comment here" id="user_comment" name="user_comment" class="materialize-textarea text-black" required></textarea>
									<label for="user_comment">Want to comment on this walk?</label>
								</div>
                            </div>
                            <div class="row center-align">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="fas fa-comment right"></i></button>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
               
{% endblock %}